<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport">
    <link rel='stylesheet' type='text/css' href='static/css/style.css' />
    <link rel="stylesheet" type="text/css" href="static/css/navbar.css">
    <title>About Us</title>
  </head>
  <body>
    <nav>
        <ul class="topnav">
        <li><a href='account'>Home</a></li>
        <li><a href='transaction'>Transactions</a></li>
        <li><a href='Savings'>Savings</a></li>
        <li><a href='Contact Us'>Contact Us</a></li>
        <li class='right'><a id='sign-out'>Log out</a></li>
      </ul>
    </nav>


  </body>
</html>
