<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport">
    <link rel='stylesheet' type='text/css' href='static/css/aboutus.css' />
    <link rel="stylesheet" type="text/css" href="static/css/navbar.css" />
    <title>About Us</title>
  </head>
  <body>
    <div id="bannerimage"></div>
    <nav>
        <ul class="topnav">
        <li><a href='account'>Home</a></li>
        <li><a href='transaction'>Transactions</a></li>
        <li><a href='savings'>Savings</a></li>
        <li><a href='contact-us'>Contact Us</a></li>
        <li class='right'><a id='sign-out'>Log out</a></li>
      </ul>
    </nav>
    <div class="header">
      <h1>Meet the TEAm</h1>
    </div>
    <div class="row">
      <div class="col-3">
        <h3>Eunice Redbush Kontor</h3>
        <img id="col-3-img" src="static/css/images/eunice.jpeg" style="width:100%;max-width:300px">
      </div>
      <div class="col-4">
        <h3>Grace Earl Grey Farren</h3>
        <img id="col-4-img" src="static/css/images/grace.jpeg" style="width:100%;max-width:300px">
      </div>
      <div class="col-5">
        <h3>Hatairy Dos-Fruity Santos</h3>
        <img id="col-5-img" src="static/css/images/hatairy.jpg" style="width:100%;max-width:300px">
      </div>
      <div class="col-6">
        <h3>Ollie Chamomile Kennedy</h3>
        <img id="col-6-img" src="static/css/images/ollie.webp" style="width:100%;max-width:300px">
      </div>
      <div class="col-7">
        <h3>Rhianna Peppermint Stuart</h3>
        <img id="col-7-img" src="static/css/images/rhianna.jpeg" style="width:100%;max-width:300px">
      </div>
      <div class="col-8">
        <h3>Sabarinth Oolong Kunnambath</h3>
        <img id="col-7-img" src="static/css/images/sab.jpeg" style="width:100%;max-width:300px">
      </div>
    </div>
  </body>
</html>
