<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <div>
    <h1 class='heading'>frugali-TEA</h1>
  </div>
  <button type="submit" id="sign-out">Log Out</button>
    <div class="fact-box">
      <div class="random-facts">
        <label for="sip-alish"><b>Sip-a-licious Tea facts</b></label>
          <p id="random-fact"></p>
        <div class="random-tips">
          <p><b>Tip of the day</b></p>
          <p id="random-tip"></p>
        </div>
      </div>
    </div>
  <div class="income-form-div">
    <form class="income-form">
      Income: £ <input type="number" id="income-input" value="1000" name="income"> /month
      <p>Net:  <span id="net-output"></span></p>
    </form>
  </div>
  <div class="style-page">
  <div class="categories">
    <h2>
      Spill the tea
    </h2>
  <form id="outgoings">
    <p>
      <label for='bills-input'>Bills: </label>
      <input id="bills-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='groceries-input'>Groceries: </label>
      <input id="groceries-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='travel-input'>Travel: </label>
      <input id="travel-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='loans-input'>Loans: </label>
      <input id="loans-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='hobbies-input'>Hobbies: </label>
      <input id="hobbies-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='savings-input'>Savings: </label>
      <input id="savings-input" type="number" placeholder="enter budget">
    </p>
    <p>
      <label for='entertainment-input'>Entertainment: </label>
      <input id="entertainment-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='tea-input'>TEA: </label>
      <input id="tea-input" placeholder="enter budget" type="number">
    </p>
  </form>
   <h2>Outgoings: <span id="outgoings-output"></span></h2>
  </div>
  </div>

  <!-- <script src="static/js/homepage.js"></script> -->
  <script src="static/js/interface.js"></script>
</body>
</html>
