<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="static/css/navbar.css">
</head>
<body>
  <nav>
      <ul class="topnav">
      <li><a href='transaction'>Transactions</a></li>
      <li><a href='savings'>Savings</a></li>
      <li><a href='about-us'>About Us</a></li>
      <li><a href='contact-us'>Contact Us</a></li>
      <li class='right'><a id='sign-out'>Log out</a></li>
    </ul>
  </nav>

  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <div class = "row5">
    <h1 class="header1">Frugali-TEA</h1>
  </div>
  <div id="ProgressBar">

  </div>
  <div>
  <form class="income-form">
    <h1>Income: £ <input class="account-input2"  type="number" id="income-input" value="1000" name="income" maxlength="5" size="5"> /month
    <p>Outgoings: <span id="outgoings-output"></span></p>
    <p>Net:  <span id="net-output"></span></p></h1>
  </form>
</div>
  <script src="static/js/progressbar.js"></script>

  <div class="fact-box card">
    <div class="random-facts">
      <h2><label for="random-fact"><b>Sip-a-licious Tea facts!</b></label></h2>
        <p id="random-fact"></p>
      <div class="random-tips">
        <h2><b>Sip of the day</b></h2>
        <p id="random-tip"></p>

      </div>
    </div>
  </div>
  <div class="row2">


</div>

<div id='financials'>
</div>
<div id="outgoings-div">
  <form id="outgoings">
    <div>
      <h2>Spill the tea</h2>
      <label for='bills-input'>Bills: </label><br>
      <input class="account-input" id="bills-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='groceries-input'>Groceries: </label><br>
      <input class="account-input" id="groceries-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='travel-input'>Travel: </label><br>
      <input class="account-input" id="travel-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='loans-input'>Loans: </label><br>
      <input class="account-input" id="loans-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='hobbies-input'>Hobbies: </label><br>
      <input class="account-input" id="hobbies-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='savings-input'>Savings: </label><br>
      <input class="account-input" id="savings-input" type="number" placeholder="enter budget">
    </div>
    <div>
      <label for='entertainment-input'>Entertainment: </label><br>
      <input class="account-input" id="entertainment-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='tea-input'>TEA: </label><br>
      <input class="account-input" id="tea-input" placeholder="enter budget" type="number">
    </div>
  </form>
</div>
  <div class="container">
    <canvas id="chart"></canvas>
  </div>

  <script src="static/js/interface.js"></script>
</body>
</html>
