<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="static/css/navbar.css">
</head>
<body>

  <nav>
      <ul class="topnav">
      <li><a href='about-us'>About Us</a></li>
      <li><a href='transaction'>Transactions</a></li>
      <li><a href='Savings'>Savings</a></li>
      <li><a href='Contact Us'>Contact Us</a></li>
      <li class='right'><a id='sign-out'>Log out</a></li>
    </ul>
  </nav>

  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <div class = "row5">
    <h1>frugali-TEA</h1>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" id="sign-out">Log Out</button> -->
  </div>
  <div id="ProgressBar"></div>
  <script src="static/js/progressbar.js"></script>
  <div class="row2">

  <div class="fact-box">
    <div class="random-facts">
      <h2><label for="sip-alish"><b>Sip-a-licious Tea facts!</b></label></h2>
        <p id="random-fact"></p>
      <div class="random-tips">
        <p><b>Tip of the day</b></p>
        <p id="random-tip"></p>

      </div>
    </div>
  </div>
</div>
<div class="row3">
    <form class="income-form">
      <h1>Income: £ <input type="number" id="income-input" value="1000" name="income"> /month
      <p>Net:  <span id="net-output"></span></p></h1>
    </form>
</div>
  <div class="row1">
    <h2>
      Spill the tea
    </h2>
  </div>
  <div class="row4">
    <h2>Outgoings: <span id="outgoings-output"></span></h2>
   </div>
    <div class="row6">
  <form id="outgoings">
    <div>
      <label for='bills-input'>Bills: </label><br>
      <input id="bills-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='groceries-input'>Groceries: </label><br>
      <input id="groceries-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='travel-input'>Travel: </label><br>
      <input id="travel-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='loans-input'>Loans: </label><br>
      <input id="loans-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='hobbies-input'>Hobbies: </label><br>
      <input id="hobbies-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='savings-input'>Savings: </label><br>
      <input id="savings-input" type="number" placeholder="enter budget">
    </div>
    <div>
      <label for='entertainment-input'>Entertainment: </label><br>
      <input id="entertainment-input" placeholder="enter budget" type="number">
    </div>
    <div>
      <label for='tea-input'>TEA: </label><br>
      <input id="tea-input" placeholder="enter budget" type="number">
    </div>


  </form>

  </div>


  <div class="container">
    <canvas id="chart"></canvas>
  </div>

  <!-- <script src="static/js/homepage.js"></script> -->
  <script src="static/js/interface.js"></script>
</body>
</html>
