<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="static/css/signin.css">

  <title>frugali-TEA</title>
</head>
<body>
 <div class="container">
  <div class="card">
  <h1 class="header1">Welcome to frugali-TEA</h1>

    <button class="button bouncy form-input homepage" id="sign-up"> <a style="animation-delay:0.07s" >Sign Up</a></button>
    <button class="button bouncy form-input homepage" id="sign-in"> <a style="animation-delay:0.14s">Sign In</a></button>
  </div>
</div>
  <script src="static/js/homepage.js"></script>
</body>
</html>
