<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <title>frugali-TEA</title>
</head>
<body>
  <h1>Welcome to frugali-TEA</h1>

  <h3>Please 
    <button id="sign-up" >sign up</button>
    <button id="sign-in">sign in</button> 
  </h3>
  
  <script src="static/js/homepage.js"></script>
</body>
</html>