<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
  <title>frugali-TEA</title>
</head>
<body>
  <h1>Welcome to frugali-TEA</h1>
    <button id="sign-up" >Sign Up</button>
    <button id="sign-in">Sign In</button> 
  <script src="static/js/homepage.js"></script>
</body>
</html>