<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
</head>
<body>
  <h1 class='h1'>Tea for team 3</h1>

<form>
  <input type="text" id="income-input" placeholder="Enter Income" name="income">
  <output id="net-output" for="income-input"></output>

</form>
  <script src="app.js"></script>
  <script src="static/js/interface.js"></script>
</body>
</html>
