<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
</head>


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  </head>
    <h1 class='h1'>frugali-TEA{text-align:center;}</h1>

  <body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<div id="ProgressBar"></div>
  <script src="static/js/progressbar.js"></script>

<body>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <div class="income-form-div">
    <form class="income-form">
      Income: £<input type="number" id="income-input" value="1000" name="income"> /month
      <p>Net:  <span id="net-output"></span></p>
    </form>
  </div>
  <div class="categories">
    <h2>
      Spill the tea
    </h2>

  <form id="outgoings">
    <p>
      <label for='bills-input'>Bills: </label>
      <input id="bills-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='groceries-input'>Groceries: </label>
      <input id="groceries-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='travel-input'>Travel: </label>
      <input id="travel-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='loans-input'>Loans: </label>
      <input id="loans-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='hobbies-input'>Hobbies: </label>
      <input id="hobbies-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='savings-input'>Savings: </label>
      <input id="savings-input" type="number" placeholder="enter budget">
    </p>
    <p>
      <label for='entertainment-input'>Entertainment: </label>
      <input id="entertainment-input" placeholder="enter budget" type="number">
    </p>
    <p>
      <label for='tea-input'>TEA: </label>
      <input id="tea-input" placeholder="enter budget" type="number">
    </p>
  </form>

   <h2>Outgoings: <span id="outgoings-output"></span></h2>
  </div>

  <div class="random-facts">
      <label for="sip-alish">Sip-a-licious tea facts</label>
      <p id="random-fact"></p>
  </div>

  <div class="random-tips">
      <h3>Tip of the day</h3>
      <p id="random-tip"></p>
  </div>


  <!-- <script src="../../app.js"></script> -->
  <script src="static/js/interface.js"></script>
</body>
</html>
