<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>frugali-TEA</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <h1 class='h1'>frugali-TEA</h1>
  <div class="income-form-div">
    <form class="income-form">
      Income: <input type="text" id="income-input" placeholder="Enter Income" name="income"> /month
      <p>Net:  <span id="net-output"></span></p>
    </form>
  </div>
  <!-- <script src="../../app.js"></script> -->
  <script src="static/js/interface.js"></script>
</body>
</html>
