<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Spill the TEA: Enter your transactions</h3>
    <form id="newtransaction-form" name="new-transaction" method="post" action="transactions/new">
      <input id="description-input" type="text" placeholder="description" name="description" />
      <label for="category-selector">Choose a categortea:</label>
      <select id="category-selector" name="category">
        <option value="tea">TEA</option>
        <option value="bills">Bills</option>
        <option value="loans">Loans</option>
        <option value="entertainment">Entertainment</option>
      </select>
      <input id="amount-input" type="text" placeholder="amount" name="amount" />
      <button id="new_transaction_submit" type="submit">Submit</button>
    </form>
    <div class="previous-transactions">

    </div>


  </body>
</html>
