<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport">
  <link rel='stylesheet' type='text/css' href='static/css/savings.css' />
  <link rel="stylesheet" type="text/css" href="static/css/navbar.css" />
  <title>Savings</title>
</head>
  <body>
    <div id="bannerimage"></div>
    <nav>
        <ul class="topnav">
        <li><a href='account'>Home</a></li>
        <li><a href='transaction'>Transactions</a></li>
        <li><a href='about-us'>About Us</a></li>
        <li><a href='contact-us'>Contact Us</a></li>
        <li class='right'><a id='sign-out'>Log out</a></li>
      </ul>
    </nav>
    <div class="header">
      Money you can spend on tea (savings)
    </div>

    <div class= "container">
      <div class="col-1">
      </div>
      <div class="col-2">
        <div class="pot">
          <div class="pottop"></div>
          <div class="potbottom"></div>
          <div class="shadow"></div>
        </div>
        <div class="coins">
          <div class="coin1"></div>
          <div class="coin2"></div>
          <div class="coin3"></div>
          <div class="coin4"></div>
          <div class="coin5"></div>
          <div class="coin6"></div>
        </div>
      </div>
      <div class="col-3">
        <% var sumArray = [].map(function(v){return +v}); %>
        <% savings.forEach(function (i) {
          sumArray.push(parseInt(i.amount))%>
        <% }); %>
        <% var sum = sumArray.reduce(function(a, b){return a+b;}) %>
        <p><strong>This month you have saved </strong>£<%= sum %></p>
      </div>
    </div>
    <script src="static/js/interface.js"></script>
  </body>
</html>
