<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>frugali-TEA</title>
  <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="static/css/signin.css">
  <link rel="stylesheet" type="text/css" href="static/css/navbar.css">

</head>
<body>
  <nav>
      <ul class="topnav">
      <li><a href='signup'>Sign Up</a></li>
      <li><a href='about-us'>About Us</a></li>
      <li><a href='contact-us'>Contact Us</a></li>
    </ul>
  </nav>
  <div class="container">

    <%- include ('./partials/messages') %>
    <div class="card">
      <form class="signin-form" id="signin" action="/signin" method="POST">
        <h1 class="header1">Sign in</h1>
        <input type="text" placeholder="Username*" name="username" autocomplete="off" class="form-input" required><br>
        <input type="password" name="password" placeholder="Set a password*" autocomplete="off" class="form-input" required><br>
        <button type="submit" class="button bouncy"><a style="animation-delay:0.07s">Submit</a></button>
      </form>
    </div>
  </div>
</body>
</html>
