<!DOCTYPE html>
<html>
  <head>
    <title>Transaction List</title>
    <link rel='stylesheet' type="text/css" href='static/css/style.css' />
  </head>
  <body>
    <h1>Transactions List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < transactions.length; i++) {
          list += '<li>transactions.description</li>';
        }
      %>
      <%- transactions %>
    </ul>
  </body>
</html>
