<!DOCTYPE html>
<html>
  <head>
    <title>Transaction List</title>
    <link rel='stylesheet' type='text/css' href='static/css/style.css' />
  </head>
  <body>
    <h1>Transactions List</h1>
    <form method='get' action='/new-transaction'>
      <input type='submit' value='Add a new transaction'>
    </form>
    <div class='previous-transactions'>
      <ul>
        <% transactions.forEach(function (transaction) { %>
            <li>
              <p>Description: <%= transaction.description %></p>
              <p>Category: <%= transaction.category %></p>
              <p>Amount: £<%= transaction.amount %></p>
            </li>
            <br>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
