body {
  margin: 0;
  font-family: 'Muli', Helvetica, sans-serif;
  color: #FFEECC;
  padding-bottom: 650px;
  background-color: #5C5953;
}

#bannerimage {
  width: 100%;
  background-image: url("images/teapeople.jpeg");
  height: 220px;
  background-position: top;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 25px;
  text-align: center;
  font-size: 40px;
  color: orange;
  font-weight: 5000;
}

[class*="col-"]{
  float: left;
  padding: 15px;
}

.col-3{ width: 33.33%; }
.col-4{ width: 33.33%; }
.col-5{ width: 33.33%; }
.col-6{ width: 33.33%; }
.col-7{ width: 33.33%; }
.col-8{ width: 33.33%; }
