body {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tea-cup-bag-high-res-stock-photography-1570544677.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  font-family: 'Muli', Helvetica, sans-serif;
}
div {
  text-align: center;
}