
form {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
   font-size: 28px;
   position: absolute;
   margin: 0 auto;
   width: 250px;
    right: 5px;
    left: 5px;
    align-items: center;
    align-self: center;
    padding: 5px;
    top: 50px;
    bottom: 5px;
  }
  .form-input {
      width: 100%;
      padding: 12px;
      border: 1px solid white;
      resize: vertical;
  }
  .button {
      color: #ffffff;
      padding: 0.35em 1.2em;
      border:0.1em solid #ffffff;
      margin:0 0.3em 0.3em 0;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;
      font-weight: 300;
      text-align: center;
      transition: all 0.2s;
      background-color: transparent;
      display: inline-block;
      align-content: center;
      align-self: center;
      font-size: 24px;
      
  }
    button:hover{
        color: #000000;
        background-color: #ffffff;
    }

    @media all and (max-width:30em) {
        .button{
            display: block;
            margin: 0.4em auto;
        }
    }

   .bouncy {
      animation:bouncy 5s infinite linear;
      position: relative;  
    }

    @keyframes bouncy {
        0%{top:0em}
        40%{top:0em}
        43%{top:-0.9em}
        46%{top:0em}
        48%{top:-0.4em}
        50%{top:0em}
        100%{top: 0em;}

    } 

  .container{
      width: 800px;
      height: 200px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .card{
      width: 500px;
  }
  #homepage{
      padding: 40px;
      
  }


  .header1{
  font-family: 'Muli', Helvetica, sans-serif;
  font-size: 50pt;
  align-self: center;
  align-content: center;
  letter-spacing: -2px;
  /* border-bottom: 2px solid black; */
  text-shadow: 3px 3px white;


}

.trantest2{
    margin: 0 auto;
    text-align: center;
}
.trantest {
    display: inline-block;
    vertical-align: top;
}
  /* .container .card{
      position: relative;
  }

  .container .signin-form:hover{
 transform: translateY(0); 
 box-shadow: inset 0 0 60px whitesmoke, 
 inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff
} */